<div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <p>Are you sure you want to delete <strong>Item Name</strong>?</p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th scope="row">Code</th>
                    <td>AH001</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>Cash</td>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>Asset</td>
                </tr>
                <tr>
                    <th scope="row">GSTIN</th>
                    <td>29ABCDE1234F1Z5</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>123 Main Street</td>
                </tr>
                <tr>
                    <th scope="row">Contact Number</th>
                    <td>9876543210</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>example@email.com</td>
                </tr>
                <tr>
                    <th scope="row">State</th>
                    <td>Karnataka</td>
                </tr>
                <tr>
                    <th scope="row">Active</th>
                    <td><span class="badge bg-success">Active</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal-footer d-flex gap-2">
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</div>
