<div class="modal-header">
    <h5 class="modal-title">Item Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body p-3">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Code</th>
                <td>AH001</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>Cash</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>example@email.com</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>123 Main Street</td>
            </tr>
            <tr>
                <th>Pin Code</th>
                <td>580020</td>
            </tr>
            <tr>
                <th>Land Number</th>
                <td>0836-123456</td>
            </tr>
            <tr>
                <th>Mobile Number</th>
                <td>9876543210</td>
            </tr>
            <tr>
                <th>State</th>
                <td>Karnataka</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>Yes</td>
            </tr>
            <tr>
                <th>Parcel Booking</th>
                <td>No</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-secondary">Edit</button>
    <button class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
</div>
