@model AccountingSuite.Models.Accounting.AccountHead

@{
    ViewData["Title"] = "Create";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<div class="row g-3">
    <div class="col-8">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Create Account Head</h5>
                <small class="text-body-secondary float-end">Fill required fields</small>
            </div>
            <div class="card-body g-3">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.AntiForgeryToken()

                    <!-- Account Head Name -->
                    <div class="form-group mt-3">
                        <label asp-for="AccountHeadName" class="form-label"></label>
                        <input asp-for="AccountHeadName" class="form-control" />
                        <span asp-validation-for="AccountHeadName" class="text-danger"></span>
                    </div>

                    <!-- Account Head Type -->
                    <div class="form-group mt-3">
                        <label asp-for="AccountHeadType" class="form-label"></label>
                        <select asp-for="AccountHeadType" class="form-select"
                                asp-items="Html.GetEnumSelectList<AccountingSuite.Models.Accounting.AccountHeadTypeEnum>()">
                        </select>
                        <span asp-validation-for="AccountHeadType" class="text-danger"></span>
                    </div>

                    <!-- Submit -->
                    <div class="form-group mt-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-dark" asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
