html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

html, body {
    height: 100%; /* full viewport height */
    margin: 0;
    display: flex;
    flex-direction: column;
}

#sidebar {
    min-width: 250px;
    max-width: 100%;
    background: #343a40;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%; /* full height of wrapper */
}

#sidebar .nav-link {
    color: rgba(255,255,255,0.8);
}

#sidebar .nav-link:hover {
            color: #f8b739;
}

footer {
    width: 100%; /* full width footer */
    margin-top: auto; /* sticks footer to bottom */
    padding:10px;
}
